.header-disc {
    background-image: url('../images/capa.jpg');
    background-size: cover;
    background-position: center center;
    /* background-position: center top; */
    color: #efefef;
	height: 700px;
    display: flex;
    align-items: center;
	border-radius: 0px !important;
}